<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Mercado Liebre </title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel = "preconnect" href = "https://fonts.googleapis.com">
<link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
<link href = "https: //fonts.googleapis.com/css2? family = Roboto & display = swap "rel =" stylesheet ">

<link rel="stylesheet" href="./css/styles.css">   
</head>

<body>
    <header>
        <div class="encabezado-flex">

            <div class="encabezado">
             <div class="logoHeader">
                <img src="./images/logo-mercado-liebre.svg" alt="Logo">
                <!-- VER LA LUPA QUE NO ENTRA EN EL CUADRO DE BUSQUEDA, AHHHHHHHHHH-->
                          <nav class="busqueda">
                         <input name="Cuadro de busqueda"> <i class="fas fa-search"></i>
                          </nav>
             </div>
        
         
            </div>
            <div class="manito">
            <p> <i class="fas fa-hand-holding-usd"></i>  Comprá en cuotas y sin tarjeta de crédito </p> 
            </div>
        </div>
        <div class="items-flex">
    <div class="items">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

        <!-- </div> -->

    </div>
    <div class="loginUsers">
        <!-- <div class="items-flex"> -->
            <ul>
                <li><a href="/register">Créa tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>

            
        </div>
    </div>

     <div class= "burguer">
     <div class="burguer-menu">
<i class="fas fa-bars"></i>
     </div>
    </div>
    </header>
<div >
    <img class="banner" src="./images/img-home-banner.jpg" alt="Banner de ofertas">
</div>

<main>
    <!-- SECCION DE ULTIMA VISITA -->
    <h2>Basado en la ultima visita</h2>
    <section class="ultima-visita">
        
        
        <article class="card-productos">
            <div class="card-img">
                <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera ">
            </div>
        <div class="cosas">
            <div class="camioncito">
                <i class="fas fa-truck"></i>
            </div>
                <div class="precio-flex">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                </div>
            <P class="descripcion">Moulinex</P>  
        </div>  
    </article>
    <article class="card-productos">
        <div class="card-img">
            <img src="./images/img-macbook-pro-2019.jpg" alt="mac">

        </div>
        <div class="cosas">
            <div class="camioncito">
                <i class="fas fa-truck"></i>
            </div>
                <div class="precio-flex">
                    <p class="precio">$230.770</p>
                    <p class="descuento">20% OFF</p>
                </div>
                <P class="descripcion">MacBook Pro 2019</P>
        </div>
    </article>
    <article class="card-productos">

        <div class="card-img"><img src="./images/img-samsung-galaxy-s10.jpg" alt="s10">
        </div>
        
        <div class="cosas">
            <div class="camioncito">
                <i class="fas fa-truck"></i>
            </div>
                <div class="precio-flex">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                </div>
                <P class="descripcion">Samsung Galaxy S10</P>
            </div>
    </article>
    <article class="card-productos">

        <div class="card-img"><img src="./images/img-tv-samsung-smart.jpg" alt="tele">
        </div>
        
        <div class="cosas">
            <div class="camioncito">
                <i class="fas fa-truck"></i>
            </div>
                <div class="precio-flex">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                </div>
                <P class="descripcion">SmartTv Samsung 43"</P>
            </div>

    </article> 
    </section>


    <!-- SECCION DE OFERTAS -->
    <h2>Sección de Ofertas</h2>
     <section class="ofertas">

        <article class="card-productos">
            <div class="card-img">
                <img src="./images/img-cafetera-moulinex.jpg" alt=" ">

            </div>
        <div class="cosas">
            <div class="camioncito">
                <i class="fas fa-truck"></i>
            </div>
                <div class="precio-flex">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                </div>
            <P class="descripcion">Moulinex</P>
        </div>    
        </article>
        <article class="card-productos">
            <div class="card-img">
                <img src="./images/img-macbook-pro-2019.jpg" alt=" ">
            </div>

            <div class="cosas">
                <div class="camioncito">
                    <i class="fas fa-truck"></i>
                </div>
                    <div class="precio-flex">
                        <p class="precio">$230.770</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <P class="descripcion">MacBook Pro 2019</P>
                </div>
        </article>
        <article class="card-productos">
            <div class="card-img">
                <img src="./images/img-samsung-galaxy-s10.jpg" alt=" ">
            </div>

            <div class="cosas">
                <div class="camioncito">
                    <i class="fas fa-truck"></i>
                </div>
                    <div class="precio-flex">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <P class="descripcion">Samsung Galaxy S10</P>
                </div>
        </article>
        <article class="card-productos">
            <div class="card-img">
                <img src="./images/img-tv-samsung-smart.jpg" alt="samsung">
            </div>

            <div class="cosas">
                <div class="camioncito">
                    <i class="fas fa-truck"></i>
                </div>
                    <div class="precio-flex">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <P class="descripcion">SmartTv Samsung 43"</P>
                </div>
    
        </article>
     </section>
 </main>

<footer>
    <section>
        <ul>
            <div class="footer-flex">
                <div class="card-flex">
                    <i class="fas fa-credit-card"></i>
                    <li>Paga con tarjeta o en efectivo</li>
                    <p>Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>

                <div class="gift-flex">
                    <i class="fas fa-gift"></i>
                    <li>Envio gratis desde $2.500</li>
                    <p>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
                </div>
                
                <div class="shield-flex">
                    <i class="fas fa-user-shield"></i>
                    <li>Seguridad, de principio a fin</li>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@.</p>
                </div>

            </div>

            <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
        </ul>

    </section>
</footer>
</body>
</html>