<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mercado Liebre </title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel = "preconnect" href = "https://fonts.googleapis.com">
<link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
<link href = "https: //fonts.googleapis.com/css2? family = Roboto & display = swap "rel =" stylesheet ">

<link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <div class="encabezado-flex">

            <div class="encabezado">
             <div class="logoHeader">
                <img src="./images/logo-mercado-liebre.svg" alt="Logo">
                <!-- VER LA LUPA QUE NO ENTRA EN EL CUADRO DE BUSQUEDA, AHHHHHHHHHH-->
                          <nav class="busqueda">
                               <form>
                                   <input name="Cuadro de busqueda" placeholder="Buscar productos,marcas y mas"><i class="fas fa-search" id="lupa"></i>
                                    <button type="submit"></button>
                               </form>     
                          </nav>
             </div>
        
         
            </div>
            <div class="manito">
            <p> <i class="fas fa-hand-holding-usd"></i>  Comprá en cuotas y sin tarjeta de crédito </p> 
            </div>
        </div>
        <div class="items-flex">
    <div class="items">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

        <!-- </div> -->

    </div>
    <div class="loginUsers">
        <!-- <div class="items-flex"> -->
            <ul>
                <li><a href="/register">Créa tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>

            
        </div>
    </div>

     <div class= "burguer">
     <div class="burguer-menu">
<i class="fas fa-bars"></i>
     </div>
    </div>
    </header>
<main>
    <form action="/register.html" method="POST">
        <label for="firstName">
            <input type="text"name="firstName" class="input-reg" placeholder="Nombre y apellido" minlength="3"><br><br>
        </label>

        <label for=""></label>
        <input type="username"name="" class="input-reg" placeholder="Nombre de usuario" minlength="3"><br><br>

        <label for="">Fecha de nacimiento</label><br>
        <input type="date"name="" class="input-reg"><br><br>

        <label for=""></label>
        <input type="text"name="" class="input-reg" placeholder="Domicilio" minlength="3"><br><br>

        <label for="">Perfil de usuario</label><br><br>
        <input type="radio"name=""> Comprador
        <input type="radio"name=""> Vendedor <br><br>

        <label for="">Categorias de interes<br><br>
            <input type="checkbox" value="" name="">Electro<br>
            <input type="checkbox" value="" name="">Moda<br>
            <input type="checkbox" value="" name="">Hogar<br>
            <input type="checkbox" value="" name="">Jugueteria<br>
            <input type="checkbox" value="" name="">Vida sana<br>
        </label>
        <br><br>

        <label for="">Foto de usuario</label>
        <input type="file"name="avatar"><br><br>

        <label for=""></label>
        <input type="password"name="" class="input-reg" placeholder="Contraseña"><br><br>

        <label for=""></label>
        <input type="password"name="" class="input-reg" placeholder="Confirmar contraseña"><br><br>

        <button type="submit">Enviar</button>

        <button type="reset">Borrar</button>
    
    
    
    
    
    
    </form>



</main>
<footer>
    <section>
        <ul>
            <div class="footer-flex">
                <div class="card-flex">
                    <i class="fas fa-credit-card"></i>
                    <li>Paga con tarjeta o en efectivo</li>
                    <p>Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>

                <div class="gift-flex">
                    <i class="fas fa-gift"></i>
                    <li>Envio gratis desde $2.500</li>
                    <p>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
                </div>
                
                <div class="shield-flex">
                    <i class="fas fa-user-shield"></i>
                    <li>Seguridad, de principio a fin</li>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@.</p>
                </div>

            </div>

            <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
        </ul>

    </section>
</footer>
    
</body>
</html>
<!-- <select>
    <option value="1">Electro</option>
    <option value="2">Moda</option>
    <option value="3">Hogar</option>
    <option value="4">Jugueteria</option>
    <option value="5">Vida sana</option>
</select> -->